# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
venv/
env/
.env

# PyInstaller / Build / Dist
client/build/
client/dist/
*.spec

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS / IDE
.vscode/
.idea/
Thumbs.db
Desktop.ini

# Temp / ZIPs
client_files.zip

# Windows Shortcuts
*.lnk

